button {
  font: var(--font);

  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(var(--spacing) * 12);
  border-radius: 0.5rem;

  background-color: var(--color-green-100);
  color: var(--color-white);
}

button:hover {
  color: var(--color-green-200);
}

button:disabled,
button:hover & button:disabled {
  opacity: 50%;
  color: var(--color-white);
}
