.dashboard {
  background-color: var(--color-gray-500);
  border-radius: 1rem;
  padding: calc(var(--spacing) * 10);
  gap: calc(var(--spacing) * 12);
}
.dashboard > h1 {
  margin-right: auto;
  font-weight: 700;
  font-size: var(--font-size-xl);
}

.dashboard > form {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.search {
  width: calc(var(--spacing) * 12);
  height: calc(var(--spacing) * 12);
  border-style: none;
  background-color: var(--color-green-100);
}

.search:hover {
  background-color: var(--color-green-200);
}

.search > img {
  width: calc(var(--spacing) * 5);
}
