* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  --font-size-xxs: 0.625rem/calc(1/0.75) ;
  --font-size-xs: 0.75rem/calc(1/0.75) ;
  --font-size-sm: 0.875rem/calc(1.25/0.875)
  --font-size-md: 1rem/calc(1.5/1) ;
  --font-size-lg: 1.125rem/calc(1.75/1.125);
  --font-size-xl: 1.25rem/calc(1.75/1.25) ;
  --font-size-xxl: 1.5rem/calc(2/1.5) ;
  --font-size-huge: 1.875rem/calc(2.25/1.875) ;
  --font-size-supreme: 2.25rem/calc(2.5/2.25) ;

  --color-gray-100: #1f2523;
  --color-gray-200: #4d5c57;
  --color-gray-300: #cdd5d2;
  --color-gray-400: #e4ece9;
  --color-gray-500: #f9fbfa;

  --color-green-100: #1f8459;
  --color-green-200: #2cb178;

  --color-white: #ffffff;

  --spacing: 0.25rem;
}

