.refund {
  background-color: var(--color-gray-500);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  padding: calc(var(--spacing) * 10);
  gap: calc(var(--spacing) * 6);
}

.refund > h1 {
  font: var(--font-size-xl);
  font-weight: 700;
  color: var(--color-gray-100);
}

.refund > p {
  font: var(--font-size-s);
  font-weight: 700;
  color: var(--color-gray-200);
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 4);
}

.refund div {
  background-color: inherit;
  flex-direction: row;
  gap: calc(var(--spacing) * 4);
}

.upload-file {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: calc(var(--spacing) * 2);
  margin-inline: calc(var(--spacing) * 6);

  color: var(--color-green-100);
  font-weight: 600;
}

.upload-file:hover {
  opacity: 50%;
}
